<br/>	
<div class="jumbotron">
	<h1> Shadowmsg</h1>
	
	<p> Shadowmsg allows you to safely and secretly send messages to your friends </p>
	<p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  	</p>
</div>
<% @message.each do |message| %>
<div class="well">
	<blockquote><%= message %></blockquote><cite>- by a random person</cite>
</div>
<% end %>