// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-color: #000000;
	color: white;
	font-weight: bold;
	}
.jumbotron {
	background-color: #242424;
}
.well {
	background-color: #242424;
}
.form-group{
	color: #777
}
h1 {
	color: #777
}
